.backBtn {
  background: #2563eb;

  color: white;

  border: none;

  padding: 10px 18px;

  border-radius: 6px;

  cursor: pointer;

  margin-bottom: 20px;

  transition: 0.3s;
}

.backBtn:hover {
  background: #1d4ed8;
}

h1 {
  font-size: 38px;

  margin-bottom: 30px;

  color: #1e293b;
}

h2 {
  margin-bottom: 20px;

  color: #334155;
}

.form {
  padding: 30px;

  background: white;

  border-radius: 12px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

  margin-bottom: 35px;
}

input,
textarea {
  padding: 14px;

  font-size: 16px;

  border-radius: 8px;
}

.form button {
  width: 180px;

  padding: 14px;

  font-size: 16px;

  font-weight: bold;
}

.tableContainer{

margin-top:35px;

padding:25px;

border-radius:12px;

}

.tableWrapper{

    width:100%;

    overflow-x:auto;

    -webkit-overflow-scrolling:touch;

}


table{

    width:100%;

    min-width:900px;

    border-collapse:collapse;

}

.backBtn{

    background:#2563eb;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:6px;

    cursor:pointer;

    margin-bottom:20px;

    transition:.3s;

}

.backBtn:hover{

    background:#1d4ed8;

}