.sidebar{

    width:260px;
    background:#1e293b;
    color:white;
    padding:30px;

    min-height:100vh;

}

.sidebar h2{

    margin-bottom:35px;

}

.sidebar a{

    display:block;
    padding:14px;
    border-radius:8px;
    margin-bottom:10px;

}

.sidebar a:hover,
.sidebar a.active{

    background:#2563eb;

}

.close{

    display:none;

}

.overlay{

    display:none;

}

@media(max-width:768px){

.sidebar{

    position:fixed;

    top:0;

    left:-260px;

    width:260px;

    height:100vh;

    z-index:1000;

    transition:.3s;

}

.show{

    left:0;

}

.overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    z-index:999;

    display:none;

}

.showOverlay{

    display:block;

}

.close{

    display:block;

    position:absolute;

    right:15px;

    top:15px;

    background:none;

    border:none;

    color:white;

    cursor:pointer;

}

}