.sidebar {
  width: 260px;
  background: #1e293b;
  color: white;
  padding: 30px;

  min-height: 100vh;
}

.sidebar h2 {
  margin-bottom: 35px;
}

.sidebar a {
  display: block;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sidebar a:hover,
.sidebar a.active {
  background: #2563eb;
}

.close {
  display: none;
}

.overlay {
  display: none;
}

.sidebar a,
.logout {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px;

  border-radius: 8px;

  text-decoration: none;

  color: white;
}

.logout {
  width: 100%;
  margin-top: auto;

  border: none;

  background: none;

  cursor: pointer;

  font-size: 16px;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;

    top: 0;

    left: -260px;

    width: 260px;

    height: 100vh;

    z-index: 1000;

    transition: 0.3s;
  }

  .show {
    left: 0;
  }

  .overlay {
    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, 0.45);

    z-index: 999;

    display: none;
  }

  .showOverlay {
    display: block;
  }

  .close {
    display: block;

    position: absolute;

    right: 15px;

    top: 15px;

    background: none;

    border: none;

    color: white;

    cursor: pointer;
  }
}

.menuItem {
  margin-bottom: 10px;
}

.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuLink {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  text-align: left;
}

.menuLink:hover {
  background: #2563eb;
}

.arrow {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.arrow:hover {
  background: #2563eb;
}

.subMenu {
  display: block;
  margin-left: 42px;
  margin-top: 6px;
  padding: 10px 14px !important;
  border-radius: 6px;
  font-size: 15px;
}

.subMenu.active {
  background: #2563eb;
}

.menuItem {
  margin-bottom: 10px;
}

.menuHeader {
  display: flex;
  align-items: center;
}

.menuLink {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  text-align: left;
}

.menuLink:hover {
  background: #2563eb;
}

.arrow {
  width: 42px;
  height: 42px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.arrow:hover {
  background: #2563eb;
}

.subMenuWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.open {
  max-height: 80px;
}

.subMenu {
  display: block;
  margin-left: 45px;
  padding: 10px 14px;
  text-decoration: none;
  color: #d1d5db;
  border-radius: 6px;
  transition: 0.3s;
}

.subMenu:hover {
  background: #2563eb;
  color: white;
}

.activeSubMenu {
  background: #2563eb;
  color: white;
}
